<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>上传平台</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.huangwx.cn/css/sweetalert.css">
    <script type="text/javascript" src="https://www.huangwx.cn/js/sweetalert-dev.js"></script>
</head>

<body>

<a href="https://blog.csdn.net/qq_41452937/article/details/107104058">构建过程</a>
<div style="text-align: center;">
    <h2>信1701-3班操作系统小学期七月五日报告上传</h2>
    <p>
        <strong style="color:green;">已交{{ num1 }}人</strong>
        /
        <strong style="color:red;">未交{{ 37-num1 }}人</strong>
    </p>
</div>

<!--提交信息的表格-->
<table class="table table-hover">
    <thead>
    <tr>
        <th>提交状态</th>
        <th>学号</th>
        <th>姓名</th>
        <th>上传时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            {% if i['status'] == 'yes' %}
                <td style="color: green">
                    <strong>已提交</strong>
                </td>
            {% else %}
                <td style="color: red">
                    <strong>未提交</strong>
                </td>
            {% endif %}
            <td>{{ i['num'] }}</td>
            <td>{{ i['name'] }}</td>
            <td>{{ i['time'] }}</td>
            <!--已经提交则提交按钮为不可操作状态-->
            {% if i['status'] == 'yes' %}
                <td>
                    <button class="btn btn-primary" disabled="disabled">
                        已上传
                    </button>
                </td>

            {% else %}
                <!--否则当点击上传按钮时将字典i的值传给对应函数-->
                <td>
                    <button class="btn btn-primary" data-toggle="modal" onclick="display_form({{ i }})">
                        文件上传
                    </button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>


<!--上传文件弹出框-->
<div class="modal fade" id="stu_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    操作系统每日报告上传
                </h4>
            </div>
            <div class="modal-body">
                <!--上传信息表格-->
                <form id="upload" action="/upload" enctype='multipart/form-data' method='POST'>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">姓名</span>
                        </div>
                        <label for="name"></label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">学号</span>
                        </div>
                        <label for="num"></label>
                        <input type="text" class="form-control" id="num" name="num">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">班级</span>
                        </div>
                        <select class="form-control" name="classes" disabled>
                            <option value="1701_1">信1701-1班</option>
                            <option value="1701_2">信1701-2班</option>
                            <!--默认值-->
                            <option value="1701_3" selected>信1701-3班</option>
                        </select>

                    </div>
                    <!--上传文件的控件-->
                    <input id='file' class="btn btn-info" name="file" type="file">
                    <div class="modal-footer">
                        <button type="button" onclick="submit_form()" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    //显示模态框
    function display_form(data) {
        //模态框显示事件
        $('#stu_modal').modal('show')
        //自动给姓名与学号控件赋值
        $('#name').val(data['name'])
        $('#num').val(data['num'])
    }

    //提交表格
    function submit_form() {
        var name = $('#name').val()
        var num = $('#num').val()
        //用户名为2-5个汉字
        var name_reg = /^[\u4e00-\u9fa5]{2,5}$/
        //学号为8位数字
        var num_reg = /^\d{8}$/
        if (!name_reg.test(name)) {
            swal("用户名错误!")
            return
        }
        if (!num_reg.test(num)) {
            swal("学号错误!")
            return
        }
        //判断文件是否为空
        var fileInput = $('#file').get(0).files[0];
        if (!fileInput) {
            swal("请选择上传文件！")
            return
        }
        $('#upload').submit()
        swal('上传成功')
    }
</script>
</html>