<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>上传平台</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.huangwx.cn/css/sweetalert.css">
    <script type="text/javascript" src="https://www.huangwx.cn/js/sweetalert-dev.js"></script>
    <style>
        .safe {
            color: green;
            font-weight: bold;
        }
        .danger {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>

<a href="https://blog.csdn.net/qq_41452937/article/details/107104058">构建过程</a>
<div style="text-align: center;">
    <h2>信1701-3班操作系统小学期七月六日报告上传</h2>
    <p>
        <strong style="color:green;">已交{{ num1 }}人</strong>
        /
        <strong style="color:red;">未交{{ 37-num1 }}人</strong>
    </p>
</div>

<!--提交信息的表格-->
<table class="table table-hover">
    <thead>
    <tr>
        <th>提交状态</th>
        <th>学号</th>
        <th>姓名</th>
        <th>上传时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            {% if i['status'] == 'yes' %}
                <td class="safe">已提交</td>
            {% else %}
                <td class="danger">未提交</td>
            {% endif %}
            <td>{{ i['num'] }}</td>
            <td>{{ i['name'] }}</td>
            <td>{{ i['time'] }}</td>
            <td>
                {% if i['status'] == 'yes' %}
                    <button class="btn btn-success" onclick="displayForm({{ i }})">
                        重新上传
                    </button>
                {% else %}
                    <button class="btn btn-primary" onclick="displayForm({{ i }})">
                        文件上传
                    </button>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>


<!--上传文件弹出框-->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    作业上传
                </h4>
            </div>
            <div class="modal-body">
                <!--上传信息表格-->
                <form id="uploadForm" enctype='multipart/form-data' method='POST'>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">姓名</span>
                        </div>
                        <label for="name"></label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">学号</span>
                        </div>
                        <label for="num"></label>
                        <input type="text" class="form-control" id="num" name="num">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">班级</span>
                        </div>
                        <select class="form-control" name="classes">
                            <option value="信1701_1">信1701-1班</option>
                            <option value="信1701_2">信1701-2班</option>
                            <option value="信1701_3">信1701-3班</option>
                        </select>

                    </div>
                    <!--上传文件的控件-->
                    <input id='file' class="btn btn-info" name="file" type="file">
                    <div class="modal-footer">
                        <button type="button" onclick="submitForm()" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    //显示模态框
    function displayForm(data) {
        //模态框显示事件
        $('#infoModal').modal('show')
        //自动给姓名与学号控件赋值
        $('#name').val(data['name'])
        $('#num').val(data['num'])
    }

    //提交表格
    function submitForm() {
        var formData = new FormData($('#uploadForm')[0]);
        var name = formData.get("name")
        var num = formData.get("num")
        if (!/^[\u4e00-\u9fa5]{2,5}$/.test(name)) {
            swal("用户名错误!", "用户名为2-5个汉字", "error")
            return
        }
        if (!/^\d{8}$/.test(num)) {
            swal("学号错误!", "学号为8位数字", "error")
            return
        }
        var fileInput = $('#file')[0].files[0];
        if (!fileInput) {
            swal("请选择上传文件！", "", "warning")
            return
        }
        $.ajax({
            async: false,
            type: "POST",
            url: "/upload",
            data: formData,
            dataType: "JSON",
            mimeType: "multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function () {
                swal({
                    title: "上传成功",
                    text: "",
                    type: "success",
                    timer: 2000
                }, function () {
                    location.reload()
                })
            },
            error: function () {
                alert("网络异常，请稍后重试")
            }
        })
    }
</script>
</html>