<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 基本的表格</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<table class="table table-hover">
    <caption><h1>2020/7月/3日上传情况</h1></caption>
    <button class="btn btn-danger btn-lg" data-toggle="modal" onclick="window.location.href='/'">
        返回
    </button>
    <thead>
    <tr>
        <th>文件名</th>
        <th>上传时间</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td>{{ i['name'] }}</td>
            <td>{{ i['time'] }}</td>
        </tr>
    {% endfor %}


    </tbody>
</table>
<p><strong>共{{ num }}份</strong></p>
</body>
</html>